body {
    background-color: #e5e5e5;
    font-family: "Roboto", sans-serif;
}

.topo {
    background-color: #FFFFFF;
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topo img {
    height: 53px;
    width: 75px;
    margin-left: 22px;
}
.topo ion-icon {
    width: 45px;
    height: 45px;
    margin-right: 17px;
}
.topo button {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
}
.mensagens {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mensagens .status {
    width: 100%;
    min-height: 40px;
    background-color: #DCDCDC;
    margin-top: 4px;
    border-radius: 2px;

    display: flex;
    align-items: center;
}
.status p, .reservadas p, .normais p{
    color:#000000;
    font-size: 14px;
    line-height: 20px;
    margin-left: 8px;
    margin-right: 9px;
}
span {
    color: #AAAAAA;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}
.status mark {
    font-weight: 700;
    background-color: #DCDCDC;
}
.reservadas mark {
    font-weight: 700;
    background-color:#FFDEDE ;
}
.normais mark {
    font-weight: 700;
    background-color: #FFFFFF;
}
.mensagens .reservadas {
    width: 100%;
    min-height: 40px;
    background-color: #FFDEDE;
    margin-top: 4px;
    border-radius: 2px;

    display: flex;
    align-items: center;
}
.mensagens .normais {
    width: 100%;
    min-height: 40px;
    background-color: #FFFFFF;
    margin-top: 4px;
    border-radius: 2px;

    display: flex;
    align-items: center;
}
.rodape {
    background-color: #FFFFFF;
    width: 100%;
    height: 80px;
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    left: 0;
    bottom: 0;
}
.rodape input {
    border: 1px solid #FFFFFF;
    margin-left: 17px;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
input:focus {
    outline: none;
  } 
    
input::placeholder {
    color: black;
    font-style: italic;
    width: 145px;
    height: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: 1px solid #FFFFFF;
}
.rodape ion-icon {
    width: 26px;
    height: 26px;
    margin-right: 27px;
}
.rodape button {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
}